body {
  background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
}
.container {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  background-color: #f5df3b;
  border-radius: 20px;
  padding: 30px;
  color: #1c1c1c;
}
h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}
h2 {
  margin: 0 0 5px 0;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  border-radius: 20px;
  padding: 8px;
  border: none;
  background-color: #f2f2ed;
}
.city {
  display: flex;
  border-bottom: solid 1px #1c1c1c;
  justify-content: space-between;
  padding: 30px 0;
}
.city:last-child {
  border-bottom: none;
}
.date {
  font-size: 14px;
  opacity: 0.7;
}
.time {
  font-weight: 700;
  font-size: 42px;
  vertical-align: middle;
  margin-top: 5px;
}
small {
  font-size: 14px;
  vertical-align: middle;
}
footer {
  text-align: center;
  font-size: 14px;
  color: #f2f2ed;
  padding: 8px;
}

footer a {
  text-decoration: none;
  color: #e0ca2b;
}
